
html {

/* global margin reset */

	margin: 0;
    padding: 0;

/* set default font smoothing */

	-webkit-font-smoothing: antialiased;

/* apply a natural box layout model to all elements, but allowing components to change */

  	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*** NAVIGATION SECTION ***/

.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 9999;
}

.top-navigation > .content {
	width: 46rem;
	height: 70px;
	margin: 0 auto;
	padding: 0px 15px;
}

.top-navigation .links {	
	position: relative;
	top: 10px;
	float: right;
	font-family: 'Roboto', sans-serif;
	color: #838994;
	font-size: 16px;
	letter-spacing: 0.03em;
}

.top-navigation .links li {
	margin-left: 25px;
	display: inline-block;
	transition: color 0.2s ease;
}

.top-navigation .links li:hover {
	color: #333333;
	cursor: pointer;
}

.top-navigation .links > .active {
	color: #4c5058;
	font-weight: 500;
}

.top-navigation .logo {
	margin-top: 15px;
}

/*** BACKGROUND IMAGE SECTION ***/

.karma-bg-image {
	background-color: gray;
	background-image: url('../images/karma-landing-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;	
	background-position: center bottom;
	width: 100%;
	height: 45.938rem;
	font-family: 'Roboto', sans-serif;
	color: #838994;
	font-size: 16px;
	letter-spacing: 0.03em;
	text-align: center;
	overflow: auto; /* Learning note: this is better solution than using margin-top:0 / padding-top:250 in the h1 immediately below, which I did on my own */;
}

.karma-bg-image h1 {
	font-weight: 400;
	font-size: 3em;
	color: #ffffff;
	margin-top: 250px;
}

.karma-bg-image h3 {
	font-weight: 300;
	font-size: 1.5em;
	color: #ffffff;
	margin-top: -1em;
}

.karma-bg-image .orange-button {
	font-weight: 400;
	font-size: 1.1em;
	color: #ffffff;
	padding-top: .2em;
	width: 10em;
	height: 3em;
	margin: 0 auto;
	background-color: #f15b2a;
	border-style: none;
	border-radius: 0.3em;
	transition: background-color 0.2s ease;
}

.karma-bg-image .orange-button:hover {
	background-color: #FF4719;
	cursor: pointer;
}

/*** THREE ICONS SECTION ***/

.cases {
	background-color: #fff;
}

.cases .content {
	width: 750px;
	margin: 0 auto;
	text-align: center;
}

.cases h2 {
	font-weight: 300;
	font-size: 2.75rem;
	color: #1d1e21;
	margin-top: 1em;
}

.cases h3 {
	font-weight: 400;
	font-size: 1.563rem;
	color: #1d1e21;
	margin-top: 1em;
}

.cases .devices {
	width: 33.33%;
	display: inline-block;
	vertical-align: top;
	border: 50px;
}

