
html {

/* set default font smoothing */

	-webkit-font-smoothing: antialiased;

/* apply a natural box layout model to all elements, but allowing components to change */

  	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*** NAVIGATION SECTION ***/

.top-navigation {
	background-color: #fff;
}

.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0px 15px;
}

.top-navigation .links {	
	position: relative;
	top: 10px;
	float: right;
	font-family: 'Roboto', sans-serif;
	color: #838994;
	font-size: 16px;
	letter-spacing: 0.03em;
}

.top-navigation .links li {
	margin-left: 25px;
	display: inline-block;
	transition: color 0.2s ease;
}

.top-navigation .links li:hover {
	color: #333333;
	cursor: pointer;
}

.top-navigation .links > .active {
	color: #4c5058;
	font-weight: 500;
}

.top-navigation .logo {
	margin-top: 15px;
}
